<p>preferencies</p>


<form action='/signup' method='POST' id='form-container'>
    <label for="birthdate">Birthdate</label>
    <input type='date' name="birthdate">
    <br>
    <label for="email">Email</label>
    <input type='email' name="email">
    <br>
    <label for="name">Name</label>
    <input type='text' name="firstname">
    <br>
    <label for="surname">Surname</label>
    <input type='text' name="lastname">
    <br>
    <p>Address</p>
    <label for="address">Street</label>
    <input type='text' name="street">
    <label for="address">City</label>
    <input type='text' name="city">
    <label for="address">State</label>
    <input type='text' name="state">
    <label for="address">Zip</label>
    <input type='text' name="zip">
    <br>
    <button>Submit</button>
    <%- include('../partials/notifications') %>
</form>

    