<p>Esto es el signup</p>

<form action='/signup' method='POST' id='form-container'>
    <label for="username">Username</label>
    <input type='text' name="username">
    <br>
    <label for="password">Password</label>
    <input type='text' name="password">
    <button>Submit</button>
    <% if (typeof message !== "undefined") { %>
        <div class="error-message">
            <%= message %>
        </div>
    <% } %>
</form>