<p>esto es el login</p>

<p>Login User</p>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-signup">
                <form class="form" method action">
                    <h4>Sign Up</h4>
                    <div class="social-line">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<p>Login ONG</p>


<p>Login User</p>

<form action='/login' method='POST' id='form-container'>
    <label for="username">Username</label>
    <input type='text' name="username">
    <br>
    <label for="password">Password</label>
    <input type='password' name="password">
    <br>
    <button>Submit</button>
    <%- include('../partials/notifications') %>
</form>

<p>Login ONG</p>

<form action='ong/login' method='POST' id='form-container'>
    <label for="username">Username</label>
    <input type='text' name="username">
    <br>
    <label for="password">Password</label>
    <input type='password' name="password">
    <br>
    <button>Submit</button>
    <%- include('../partials/notifications') %>
</form>