<p>Esto es el signup</p>

<form action='/signup' method='POST' id='form-container'>
    <label for="username">Username</label>
    <input type='text' name="username">
    <br>
    <label for="password">Password</label>
    <input type='password' name="password">
    <br>
    <p>About Me</p>
    <label for="name">Name</label>
    <input type='text' name="name">
    <br>
    <label for="last">Surname</label>
    <input type='text' name="last">
    <br>
    <label for="email">Email</label>
    <input type='email' name="email">
    <br>
    <label for="birthdate">Birthdate</label>
    <input type='date' name="birthdate">
    <br>
    <p>Address</p>
    <label for="address">Street</label>
    <input type='text' name="street">
    <br>
    <label for="address">City</label>
    <input type='text' name="city">
    <br>
    <label for="address">State</label>
    <input type='text' name="state">
    <br>
    <label for="address">Zip</label>
    <input type='text' name="zip">
    <br>
    <p>Causes</p>
    <label for="interests">Advocacy and Human Rights</label>
    <input type='checkbox' name='interests' value="rights">
    <br>
    <label for="interests">Animals</label>
    <input type='checkbox' name='interests' value="animals">
    <br>
    <label for="interests">Arts and Culture</label>
    <input type='checkbox' name='interests' value="arts">
    <br>
    <label for="interests">Children and Youth</label>
    <input type='checkbox' name='interests' value="children">
    <br>
    <label for="interests">Community</label>
    <input type='checkbox' name='interests' value="community">
    <br>
    <label for="interests">Technology</label>
    <input type='checkbox' name='interests' value="technology">
    <br>
    <label for="interests">Education</label>
    <input type='checkbox' name='interests' value="education">
    <br>
    <label for="interests">Health and Medicine</label>
    <input type='checkbox' name='interests' value="health">
    <br>
    <label for="interests">Global crisis</label>
    <input type='checkbox' name='interests' value="crisis">
    <br>
    <label for="interests">Environment</label>
    <input type='checkbox' name='interests' value="environment">
    <br>
    <label for="interests">People with disabilities</label>
    <input type='checkbox' name='interests' value="disabilities">
    <br>
    <label for="interests">Homeless and Housing</label>
    <input type='checkbox' name='interests' value="homeless">
    <br>
    <label for="inmigrants">Inmigrants and Refugees</label>
    <input type='checkbox' name='interests' value="inmigrants">
    <br>
    <label for="interests">Sports and Recreation</label>
    <input type='checkbox' name='interests' value="sports">
    <br>
    <label for="interests">Justice and Legal</label>
    <input type='checkbox' name='interests' value="legal">
    <br>
    <p>Availability</p>
    <label for="availability">Fulltime</label>
    <input type='checkbox' name='availability' value="fulltime">
    <br>
    <label for="availability">Weekend</label>
    <input type='checkbox' name='availability' value="weekend">
    <br>
    <label for="availability">Summer</label>
    <input type='checkbox' name='availability' value="summer">
    <br>
    <label for="availability">I have not problems to travel.</label>
    <input type='checkbox' name='availability' value="travel">
    <br>
    <button>Submit</button>
    <%- include('../partials/notifications') %>
</form>

