<p>Esto es el signup</p>

<form action='/signup' method='POST' id='form-container'>
    <label for="username">Username</label>
    <input type='text' name="username">
    <br>
    <label for="password">Password</label>
    <input type='password' name="password">
    <br>
    <p>About Me</p>
    <label for="first-name">Name</label>
    <input type='text' name="name">
    <br>
    <label for="last-name">Surname</label>
    <input type='text' name="surname">
    <br>
    <label for="email">Email</label>
    <input type='email' name="email">
    <br>
    <label for="profilePic">Picture</label>
    <input type='img' name="profilePic">
    <br>
    <label for="birthdate">Birthdate</label>
    <input type='date' name="birthdate">
    <br>
    <label for="gender">Gender</label>
    <select name="gender" required>
        <option>female</option>
        <option>male</option>
    </select>
    <br>
    <p>Address</p>
    <label for="address">Street</label>
    <input type='text' name="street">
    <br>
    <label for="address">City</label>
    <input type='text' name="city">
    <br>
    <label for="address">State</label>
    <input type='text' name="state">
    <br>
    <label for="address">Zip</label>
    <input type='text' name="zip">
    <br>
    <p>Interests</p>
    <label for="interests">Animals</label>
    <input type='checkbox' name="animals">
    <br>
    <label for="interests">Environment</label>
    <input type='checkbox' name="environment">
    <br>
    <label for="interests">Children care</label>
    <input type='checkbox' name="children">
    <br>
    <label for="interests">Help disable people</label>
    <input type='checkbox' name="disabilities">
    <br>
    <label for="interests">Healthcare</label>
    <input type='checkbox' name="healthcare">
    <br>
    <label for="interests">Social work</label>
    <input type='checkbox' name="social">
    <br>
    <p>Availability</p>
    <label for="availability">Fulltime</label>
    <input type='checkbox' name="fulltime">
    <br>
    <label for="availability">Weekend</label>
    <input type='checkbox' name="weekend">
    <br>
    <label for="availability">Summer</label>
    <input type='checkbox' name="summer">
    <br>
    <label for="availability">I have not problems to travel.</label>
    <input type='checkbox' name="travel">
    <br>
    <button>Submit</button>
    <%- include('../partials/notifications') %>
</form>

