<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOLA</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <%- body -%>
    <%- include('../partials/footer')%>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>    
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!-- Material Kit CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/material-kit.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/material-kit.min.css">
    <!--   Core JS Files   -->
    <script src="/js/material-kit.min.js"></script>
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/bootstrap-material-design.js"></script>


    <!-- Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="/js/plugins/moment.min.js"></script>

    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="/js/plugins/bootstrap-datetimepicker.min.js"></script>

    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/js/plugins/nouislider.min.js"></script>

    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="/js/material-kit.js?v=2.0.0"></script>
    <%-defineContent('scripts') %>

</body>
</html>
