<h1>Find your volunteering opportunity</h1>



<% if (offers.length > 0) { %>
    <% offers.forEach((offer) => { %>
      <div class="offer">
        <div class="photo"><img src="<%=offer.picture.pic_path %>"></div>  
        <div class="offer-data">
            <span class="offer-data-title"><%= offer.title %></span>
            <span class="offer-data-category"><%= offer.category %></span>
            <button class="offer-data-button"><a href="/offer/<%= offer._id %>">Know more</a></button>
        </div>
      </div>
    <%  }) %>
<% } %>
