<h1>Find your volunteering opportunity</h1>

<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="md-auto ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src="/img/kit/bg.jpg" class="img-raised  img-fluid">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="title">
            <h3 class="title">Title of the offer</h3>
            <span class="badge badge-pill badge-primary">
              badge with user interests
            </span>
          </div>
          <div class="interest">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Let's talk about the product</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-ml-6 col-m-6">
        <h2 class="title">Let's talk about the product</h2>
      </div>
    </div>
  </div>
</div>

<% if (offers.length > 0) { %>
    <% offers.forEach((offer) => { %>
      <div class="offer">
        <div class="photo"><img src="<%=offer.picture.pic_path %>"></div>  
        <div class="offer-data">
            <span class="offer-data-title"><%= offer.title %></span>
            <span class="offer-data-category"><%= offer.category %></span>
            <button class="offer-data-button"><a href="/offer/<%= offer._id %>">Know more</a></button>
        </div>
      </div>
    <%  }) %>
<% } %>
