
/* Opportunities */

.all-opportunities h1 {
  text-align: center;
}

.all-opportunities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#opportunities-warning {
  text-align: center;
}
.card-opportunity {
  max-width: 900px;
  min-width: 500px;
}
.card-opportunity .card-img-top {
  margin: 0;
}

.card-opportunity .card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 35px;;
}

.card-opportunity .card-body .card-body-info {
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
  width: 50%;
}

.card-opportunity h3 {
  margin-top: 0px;
}

/* User Private Profile*/
.user-profile h1 {
  text-align: left;
  /* no funciona */
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap
}

.user-profile .profile-pic {
  width: 200px;
  height: 200px;
}

.user-profile .profile-pic img {
  height: 100%;
}

.user-profile .main-info {
  display: flex;
  justify-content: space-between;

}

.user-profile .main-info .main-info-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-profile

/* Por ahora */ 
.offerbutton {
  color: green;
}

.offerbutton.subscribed {
  color: red;
}
