* {
  box-sizing: border-box;
}
/* Opportunities */

.all-opportunities h1 {
  text-align: center;
}

.all-opportunities img {
  object-fit: cover;
  max-height: 350px;
}

.all-opportunities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#opportunities-warning {
  text-align: center;
}

.card-opportunity {
  width: 60%;
  max-width: 900px;
  min-width: 500px;
}

.card-opportunity .card-img-top {
  margin: 0;
}

.card-opportunity .card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 35px;;
}

.card-opportunity .card-body .card-body-info {
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
}

.card-body-info * {
  margin: 5px 0px;
}

/* User Private Profile*/

.main-info, .contact-info {
  width: 60%;
  max-width: 900px;
  min-width: 500px;
}

.user-profile h1 {
  text-align: left;
  /* no funciona */
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap
}

.user-profile .profile-img {
  object-fit: cover;
}

.user-profile .main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.user-profile .main-info .main-info-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 30px 30px 50px;  
}

.user-profile .contact-info {
  padding: 50px;
}

.user-profile .contact-info-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info-2 * {
  flex-basis: 50%;
  text-align: left;
}

.user-profile .contact-info .warning {
  display: flex;
  justify-content: flex-start;
}

.user-profile .contact-info i {
  margin-right: 20px;
}


/* Offer Page */

.offer {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}
.offer-data {
  display: flex;
  flex-direction: column;
}

.offer img {
  width: 100%;
}

.offer .offer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.offer-data h3 {
  margin: 10px 0px;
}

.offer .button {
display: flex;
align-items: center;
justify-content: center;
}
