* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* HOME */ 

.navbar.home {
  margin: 0;
}
/* .carousel {
  width: 100vw;
  margin: 0;
}
.carousel * {
  margin: 0;
} */



/* Signup */ 
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.signup .input-group {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

div.signup {
  padding: 90px 0px;
}

.signup .container {
  width: 60%;
}

.signup .form-control {
  max-width: 100%;
}

.signup .interests {
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.signup .interests .interest-item {
  flex-basis: 33%;
}

.signup .submit-div {
  display: flex;
  justify-content: center;
}


/* Opportunities */

.all-opportunities h1 {
  text-align: center;
}

.all-opportunities img {
  object-fit: cover;
  max-height: 350px;
}

.all-opportunities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#opportunities-warning {
  text-align: center;
}

.card-opportunity {
  width: 60%;
  max-width: 900px;
  min-width: 500px;
}

.card-opportunity .card-img-top {
  margin: 0;
}

.card-opportunity .card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 35px;;
}

.card-opportunity .card-body .card-body-info {
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
}

.card-body-info * {
  margin: 5px 0px;
}

/* User Private Profile*/

.main-info, .contact-info {
  width: 60%;
  max-width: 900px;
  min-width: 500px;
}

.user-profile h1 {
  text-align: left;
  /* no funciona */
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap
}

.user-profile .profile-img {
  object-fit: cover;
  max-height: 400px;
  max-width: 400px;
}

.user-profile .profile-img img {
  width: 100%;
  height: 100%;
}

  .user-profile .main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.user-profile .main-info * {
  flex-basis: 50%;
}

.user-profile .main-info .main-info-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 30px 50px;  
}

.user-profile .contact-info {
  padding: 50px;
}

.user-profile .contact-info-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info-2 * {
  flex-basis: 50%;
  text-align: left;
}

.user-profile .contact-info .warning {
  display: flex;
  justify-content: flex-start;
}

.user-profile .contact-info i {
  margin-right: 20px;
}


/* Offer Page */

.offer {
  display: flex;
  flex-direction: column;
}

.offer-title {
  padding: 20px 60px;
}

.offer-data {
  padding: 30px 60px;
}

.offer-data {
  display: flex;
  flex-direction: column;
}

.offer img {
  width: 100%;
}

.offer .offer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.offer .button {
  padding: 0px 60px 40px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-users-subscribed .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px 40px;
}

.all-users-subscribed .card-body * {
  flex-basis:25%;
}
.all-users-subscribed .card-body h3 {
  margin: 10px 0px 7px 0px;
}

.volunteer-photo {
  max-width: 150px;
  min-width: 100px;  
  align-self: center;
  margin-right: 45px;
}

.useroffer-subscribe, .useroffer-unsubscribe {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 500px;
  margin-top: -175px;
  margin-left: -250px;
  display: none;
}

.useroffer-subscribe, .useroffer-unsubscribe  {
  text-align: center;
}