<p>Signup de la ong</p>

<form enctype='multipart/form-data' action='/ong/signup' method='POST' id='form-container'>
    <label for="username">Username</label>
    <input type='text' name="username">
    <br>
    <label for="password">Password</label>
    <input type='password' name="password">
    <br>
    <label for="birthdate">Birthdate</label>
    <input type='date' name="birthdate">
    <br>
    <label for="email">Email</label>
    <input type='email' name="email">
    <br>
    <label>Select a profile picture</label>
    <input type="file" name="profilepic" required>
    <br>
    <label for="name">ONG Name</label>
    <input type='text' name="name">
    <br>
    <label for="telephone">Telephone</label>
    <input type='text' name="telephone">
    <br>
    <label for="category">Category</label>
    <select name="category" required>
        <option value="">Select one category</option>
        <option value="Rights">Advocacy and Human Rights</option>
        <option value="Animals">Animals</option>
        <option value="Children">Community</option>
        <option value="Community">Arts and Culture</option>
        <option value="Technology">Technology</option>
        <option value="Education">Education</option>
        <option value="Health">Health and Medicine</option>
        <option value="Crisis">Global crisis</option>
        <option value="Environment">Environment</option>
        <option value="Disabilities">People with disabilities</option>
        <option value="Homeless">Homeless and Housing</option>
        <option value="Inmigrants">Inmigrants and Refugees</option>
        <option value="Sports">Sports and Recreation</option>
        <option value="Legal">Justice and Legal</option>
    </select>
    <p>Address</p>
    <label for="address">Street</label>
    <input type='text' name="street">
    <label for="address">City</label>
    <input type='text' name="city">
    <label for="address">State</label>
    <input type='text' name="state">
    <label for="address">Zip</label>
    <input type='text' name="zip">
    <br>
    <button>Submit</button>
    <%- include('../partials/notifications') %>
</form>
